* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(1em);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Fredoka", sans-serif;
}

.expense_form_container {
  border: 10px solid rgba(181, 193, 250, 0.551);
  background-color: white;
  height: 80%;
  width: 18%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.expense_form_container .expense_from .form_items {
  margin-top: 10px;
}

.expense_form_container .expense_from .form_items input {
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.541);
  border-radius: 4px;
  width: 90px;
  height: 20px;
}

.expense_form_container .expense_from .form_items .description {
  height: 30px;
  width: 100px;
}
.expense_form_container .expense_from .form_items .category {
  height: 30px;
  width: 100px;
}

.add_expense_btn {
  background-color: rgba(13, 39, 168, 0.551);
  color: white;
  margin-left: 46%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
  border-color: rgba(13, 39, 168, 0.551);
}

.expense_show_container {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.expense {
  width: 70%;
  height: 450px;
  background-color: white;
  border: 6px solid rgba(39, 65, 180, 0.551);
  border-radius: 15px;
}
.expense_show_form {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.expense_header,
.expense_item {
  display: flex;
  justify-content: space-between;
}
p {
  margin-right: 10px;
  font-weight: 900;
}

.expense_item_count {
  height: 390px;
  overflow-y: scroll;
}

p {
  margin-right: 10px;
  font-weight: 400;
}
.expense_show_container .expense {
  width: 70%;
  height: 450px;
  background-color: white;
  border: 6px solid rgba(181, 193, 250, 0.551);
  border-radius: 15px;
}

.expense_show_container .expense .expense_show_form {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
